/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#page2{
  font-weight: bold;
}

.rainbow{
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 5s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 5s infinite;
  
  /* Standar Syntax */
  animation: rainbow 5s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: red;}
  14%{color: orange;}
  28%{color: yellow;}
  42%{color: green;}
  56%{color: blue;}
  70%{color: indigo;}
  84%{color: violet;}
  100%{color: red;}
}
/* Internet Explorer */
@-ms-keyframes rainbow{
  0%{color: red;}
  14%{color: orange;}
  28%{color: yellow;}
  42%{color: green;}
  56%{color: blue;}
  70%{color: indigo;}
  84%{color: violet;}
  100%{color: red;}
}

/* Standar Syntax */
@keyframes rainbow{
  0%{color: red;}
  14%{color: orange;}
  28%{color: yellow;}
  42%{color: green;}
  56%{color: blue;}
  70%{color: indigo;}
  84%{color: violet;}
  100%{color: red;}
}
}